@font-face {
    font-family: 'Hermit';
    src: url('../font/Hermit-medium.woff2') format('woff2'),
        url('../font/Hermit-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
